


<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have permissions to View this resource</h6>
    <img src="~/assets/img/accessdenied.png" style="height:300px;width:300px" />
</div>


@section Scripts{ 
    <script src="~/Js/CustomJS.js"></script>
}